.top-banner {
  width: 100%;
  background-color: #384259;
  display: flex;
  justify-content: center;
}

.logo-contain {
  margin-left: 20%;
}

.end-button {
  margin-right: 20%;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #f73859;
  color: white;
  border: none;
  border-radius: 5px;
}

.title-logo {
  color: #f73859;
  font-size: 30px;
  text-decoration: none;
  text-decoration-color: #f73859;
}

.search-box {
  margin: auto;
  width: 30%;
  height: 30px;
}
