.home-box {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.reco-box {
  width: 100%;
  margin-top: 20px;
  padding: 5px;
  background-color: #384259;
  text-align: center;
  color: white;
}

.reco-box h2 {
  font-size: 20px;
}

.reco-box button {
  background-color: #7ac7c4;
  border: none;
  color: white;

  width: 200px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 5px;
}

.btn:hover{
  background-color: #33a09c;
}