.startpage-contain {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.top-title {
  margin: 0 auto;
  text-align: center;
  background-color: #384259;
  width: 100%;
  margin-bottom: 10px;
}

.top-title > p {
  color: white;
  margin: 0;
  margin-top: 10px;
}

.top-title > h1 {
  color: #f73859;
  font-size: 55px;
  margin: 0;
}

.gender {
  font-size: 30px;
  display: block;
  background-color: white;
  margin: 5px 5px;
  border: 1px solid black;
  box-shadow: 1px 1px 3px black;
}

.gender > div {
  display: inline-block;
  margin-left: 50%;
  background-color: white;
  padding-bottom: 10px;
}

.id-holder {
  vertical-align: middle;
  width: 200px;
  height: 30px;
}

.cate-box {
  display: block;

  margin: 5px 5px;
  border: 1px solid black;
  box-shadow: 1px 1px 3px black;
  font-size: 20px;
}

.cate-box > p {
  font-size: 25px;
  margin: 0;
  background-color: white;
  border-bottom: 1px solid black;
}

.start-button {
  width: 50%;
  height: 50px;
  display: block;
  margin: 30px auto;
  background-color: #f73859;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 30px;
}

.start-button:hover {
  opacity: 0.6;
}

.start-modal {
  text-align: center;
  width: 50%;
  float: right;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  height: fit-content;
}

.start-modal span {
  color: #f73859;
}

.disabled {
  opacity: 0.6;
}

.int-contain h1 {
  text-align: center;
}

.int-contain div {
  font-size: 20px;
}

.int-contain span {
  color: #f73859;
  font-weight: bolder;
}

.int-contain li {
  padding-top: 10px;
}

.int-contain p {
  padding: 30px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  background-color: antiquewhite;
}
