.wordcloud-contain {
  width: 100%;
}

.wordcloud {
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
}

.word-color {
  background-color: white;
}

.text-contain {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.word-color {
  position: absolute;
  right: 20%;
  border-radius: 10px;
  box-shadow: 0 3px 3px black;
}

.word-color span {
  margin: auto 10px;
  vertical-align: middle;
}
